@import url("https://fonts.googleapis.com/css2?family=Madimi+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


:root {
  --a:0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Madimi One", sans-serif;
  font-weight: 200;
  font-style: normal;
}

body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;
  margin: 16px 2px;
  position: relative;
}


.home ul li {
  width: 20px;
  display: flex;
  list-style: none;
  gap: 10px;
  padding-top: 13px;
}
.bg-black {
  background-color: black;
  color: white;
}
.invert {
  filter: invert(1);
}
.bg-grey {
  background-color: #121212;
}
.heading img {
  width: 25px;
  padding: 5px;
}
.heading {
  font-size: 12px;
  align-items: center;
  width: 250px;
  display: flex;
  gap: 10px;
  padding-top: 13px;
  font-weight: bold;
}
.library {
  min-height: 80vh;
  position: relative;
}
.footer {
  display: flex;
    font-size: 6.5px;
    text-decoration: none;
    font-family: fantasy;
    gap: 47px;
    position: absolute;
    bottom: 0px;
    padding: 11px;
    background-color: black;
    border-radius: 11px;
    border: none;
}
.footer a {
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: #242424;
  border-radius: 5px;
}

/* its a way to select the children of header */
.header > * {
  padding: 15px;
}
.spotifyPlaylist {
  padding: 16px;
}
.card-container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 27px;
  max-height: 75vh;
  overflow-y: auto;
}
.card {
  position: relative;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  background-color: #252525;
  transition: all 0.5s;
}


.card:hover{
  background-color: rgb(90, 139, 90);
  --a:1;
}
.card > * {
  padding-top: 7px;
}
.card img {
  border-radius: 7px;
  width: 100%;
  object-fit: contain;
}
.play {
  position: absolute;
  top: 172px;
  right: 16px;
  opacity: var(--a);
}
.play:hover {
  opacity: 1;
  
  
  background-color: #00000000;
}
.card-container :hover {
  cursor: pointer;
}
.SigninBtn {
  background-color: #252525;
  color: #999999;
  border: none;
  font-size: 17px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 10px;
}
.SigninBtn:hover {
  cursor: pointer;
  color: black;
  font-size: 1.1rem;
  transition: all 0.35s ease-out;
  border: none;
  border-radius: 23px;
  background-color: rgb(50, 240, 50);
  padding: 7px 10px;
}
.LoginBtn {
  background-color: black;
  color: white;
  padding: 7px 10px;
  border: none;
  border-radius: 23px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.LoginBtn:hover {
  cursor: pointer;
  transition: all 0.35s ease-out;
  background-color: #242424;
  font-size: 1.1rem;
  color: rgb(50, 240, 50);
}

.playbar {
  position: fixed;
  bottom: 30px;
  background-color: rgb(27, 134, 27);
  width: 71vw;
  height: 40px;
  padding: 12px;
  border-radius: 10px;
  
  
  /* justify-content: center; */
  align-items: center;
  
}
.songbuttons {
  gap: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 4px;
}
.songlist ul {
  padding: 2px 30px;
}
.songlist .info {
  font-size: 12px;
  font-weight: 100;
  width: 344px;
}
.songlist ul li {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  gap: 25px;
  padding: 10px 7px;
  border: 2px solid white;
  margin: 15px 0;
  border-radius: 7px;
}

.songlist ul :hover {
  background-color: rgb(27, 134, 27);
  transition: all 0.75s ease-out;
  color: black;
  border: #121212;
  border-radius: 14px;
}
.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.playnow span {
  font-size: 15px;
  width: 70px;
  padding: 5px;
}
.songlist {
  height: 750px;
  overflow: scroll;
}
/* .info{
  display: inline;
} */

.seekbar {
  width: 100%;
  height: 2px;
  border: 2px solid rgb(0, 0, 0);
  position: absolute;
  bottom: 6px;
  background-color: rgb(0, 0, 0);
  width: 98%;;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
}
.circle {
  bottom: 9px;
  width: 17px;
  height: 17px;
  left: -0.5%;
  border-radius: 13px;
  background-color: rgb(255, 255, 255);
  position: relative;
  transition: left 0.5s;
  border: 2px solid black;
}
.songbuttons img {
  cursor: pointer;
}

.displaysong {
  display: flex;
  justify-content: space-between;
}
.songinfo,
.songtime {
  color: black;
  padding: 0 12px;
}
.songinfo{
  width: 276px;
}


.timevol{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.hamburger {
  display: none;
  height: 40px;
  width: 40px;
}

.hamburgerconainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: absolute;
  top: 35px;
  right: 31px;
}


.volume{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}


@media (max-width: 1400px) {
  .left {
    position: absolute;
    left: -120%;
    transition: all 0.3s;
    z-index: 1;
    width: 94vw;
    background-color: rgb(27, 134, 27);
    border-radius: 7px;
  }
  .right {
    width: 100vw;
    height: 220vw;
    margin: 0;
  }
  .playbar {
    width: calc(100vw - 65px);
    height: 50px;
  }
  .seekbar {
    width: 82vw;
  }
  .hamburger {
    display: block;
  }
  .playbar {
    font-size: 11px;
    bottom: 55px;
  }
  .songinfo
  ,.songtime {
    margin: -6px;
    width: auto;
  }

  .card {
    width: 71vw;
  }
  .card-container {
    margin: 12px;
    justify-content: center;
  }
  .volume{
    flex-direction: column;
  }
  .volimg{
    width: 23px;
  }
  .volume{
    flex-direction: column;
    
  }

  .range{
    width: 58px;
    display: flex;
    justify-content: center;
  }
}
